body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  margin: 0;
  padding: 1;
  background-color: #170101;
  color: #ffffff;
}

header {
  background: #170101;
  color: #ffffff;
  padding: 2rem;
  text-align: center;
}

header nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 1rem;
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

footer {
  background: #170101;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
