body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  margin: 0;
  padding: 1rem;
  background-color: #170101;
  color: #ffffff;
}

.text-container-1 {
  border: 2px solid white;
  padding: 20px;
  background-color: #333333;
  border-radius: 12px;
  margin-bottom: 20px;
}

.text-container-2 {
  border: 2px solid white;
  padding: 20px;
  background-color: #333333;
  border-radius: 12px;
  margin-bottom: 20px;
}

.text-container-3 {
  border: 2px solid white;
  padding: 20px;
  background-color: #333333;
  border-radius: 12px;
  margin-bottom: 20px;
}

header {
  background: #170101;
  color: #ffffff;
  padding: 2rem;
  text-align: center;
}

header nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 1rem;
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

footer {
  background: #170101;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
